h1	{
	color: green;
	text-align: center;	
}

h2	{
	text-align: center;	
}

span	{
	color: orange
}

form	{
	text-align: center;
}

fieldset	{
	margin: 0px auto;
}

h4 {
	text-align: center;
}