
h1	{
	color: #000080;
	text-align: center;	
}

h2	{
	color: #804000;
	text-align: center;	
}

span	{
	color: #008040;
}

form	{
	text-align: center;
}

fieldset	{
	margin: 0px auto;
}

body	{
	background-color: #c0c0c0;
}