<!DOCTYPE html>

<html>

<head>

<title>JobBook - Create an Account</title>

<link rel="stylesheet" href="JobBookCSS.css">

</head>

<body>

<h1><span>Job</span>Book</h1>

<h2>Create an Account</h2>

<br>

<fieldset>

<form action="/JBHomescreen" method="post">

<div class="container">
        <label for="email"><b>Email:</b></label>
        <input type="email" placeholder="Email:" id="email" name="email" required>
        <br>
        <label for="username"><b>Username:</b></label>
        <input type="text" id="username" placeholder="Username:" name="username" required>
        <br>
        <br>
        <label for="password"><b>Password:</b></label>
        <input type="password" id="password" placeholder="Password" name="password" required>
        <br>
        <label for="passwordConfirm"><b>Confirm Password:</b></label>
        <input type="password" id="passwordConfirm" name="passwordConfirm" required>
        <br>
        <button type="submit">Create</button>
        <label>
        <br>
        <input type="checkbox" checked="checked" name="remember"> Remember me?
        </label>
        </div>
        <br>
        <br>
        </form>

</fieldset>

</body>

</html>
