<!DOCTYPE html>

<html>
<head>
<meta charset="ISO-8859-1"/>
<link rel="stylesheet" href="css/style.css"/>

<title>JobBook - Introduction Survey</title>

</head>

<body>
 

<h1><span>Job</span>Book</h1>
<h2>Welcome to JobBook</h2>
 
<p>
In order to best assist you with finding jobs, please check the boxes that best
describe your skillset(s).  You'll be able to clarify your skills in more detail
on the edit profile page.
</p>

<form action="/JBUserProfile">
 
<input type= "checkbox" name="homeMaintenance" value="HomeMaintenance">Home Maintenance<br>
<input type= "checkbox" name="lawn&Garden" value="Lawn&Garden">Lawn and Garden<br>
<input type= "checkbox" name="electronics" value="Electronics">Electronics<br>
<input type= "checkbox" name="child&PetCare" value="Child&PetCare">Child and Pet Care<br>
<input type= "checkbox" name="automobileMechanics" value="AutomobileMechanics">Automobile Mechanics<br>
 
<button type="submit">Submit</button>

</form>
  
</body>

</html>