<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>JobBook - Home</title>

<link rel="stylesheet" href="JobBookCSS.css">

</head>

<body>
 
<h1><span>Job</span>Book</h1>

<h2>Welcome, <span th:text="${userDTO}"></span> </h2>
 
<h2><a href="/JBUserProfile">PROFILE</a></h2>

<br>

<a href="/JBFindAJob">Find a Job Near You</a>

<img src="" alt="">
<!-- Added as an icon placeholder -->
<br>
<br>
 
<a href="/JBCreateJobListing">Create a Job Listing to available users</a>
<img src="" alt="">
 <!-- Added as an icon placeholder -->
 
</body>

</html>