<!DOCTYPE html>

<html>

<head>

<title>JobBook - Home</title>

<link rel="stylesheet" href="JobBookCSS.css">

</head>

<body>
 
<h1><span>Job</span>Book</h1>

<h2>Welcome, (Username)</h2>
 
<h2><a href="file:///C:/Users/Administrator/eclipse-workspace/jobBookFINAL/src/main/resources/templates/JBUserProfile.html">PROFILE</a></h2>

<br>

<a href="file:///C:/Users/Administrator/eclipse-workspace/jobBookFINAL/src/main/resources/templates/JBFindAJob.html">Find a Job Near You</a>

<img src="" alt="">
<!-- Added as an icon placeholder -->
<br>
<br>
 
<a href="file:///C:/Users/Administrator/eclipse-workspace/jobBookFINAL/src/main/resources/templates/JBCreateJobListing.html">Create a Job Listing to available users</a>
<img src="" alt="">
 <!-- Added as an icon placeholder -->
 
</body>

</html>